In [50]:
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv( 'adult.csv' )
data.head(20)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [53]:
data["workclass"].value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [54]:
data["occupation"].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [55]:
data["native-country"].value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [56]:
def drop_question_marks(row, colname=''):
    if '?' in row[colname]:
        row[colname] = 'Unknown'
    return row

In [57]:
data = data.apply(drop_question_marks, axis=1, colname='occupation')

In [58]:
data["occupation"].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Unknown              2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [59]:
data = data.apply(drop_question_marks, axis=1, colname='workclass')

In [60]:
data = data.apply(drop_question_marks, axis=1, colname='native-country')

In [61]:
data['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [62]:
def count_income(row):
    if '>50K' in row['income']:
        return 1
    else:
        return 0

data['income'] = data.apply(count_income, axis=1)
data['income'].value_counts()

0    37155
1    11687
Name: income, dtype: int64

In [63]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
gender_cat = data["gender"]
gender_cat_encoded = encoder.fit_transform(gender_cat)
gender_cat_encoded

array([1, 1, 1, ..., 0, 1, 0])

In [64]:
data["gender"] = gender_cat_encoded
data["gender"].head()

0    1
1    1
2    1
3    1
4    0
Name: gender, dtype: int64

In [65]:
encoder = LabelEncoder()
country_cat = data["native-country"]
country_cat_encoded = encoder.fit_transform(country_cat)

data["native-country"] = country_cat_encoded
data["native-country"].tail(10)

48832    38
48833    38
48834    35
48835    38
48836    38
48837    38
48838    38
48839    38
48840    38
48841    38
Name: native-country, dtype: int64

In [68]:
country_cat = data["native-country"]
country_cat_encoded = encoder.fit_transform(country_cat)

data["native-country"] = country_cat_encoded
data["native-country"].tail(10)

48832    38
48833    38
48834    35
48835    38
48836    38
48837    38
48838    38
48839    38
48840    38
48841    38
Name: native-country, dtype: int64

In [70]:
workclass_cat = data["workclass"]
workclass_cat_encoded = encoder.fit_transform(workclass_cat)

data["workclass"] = workclass_cat_encoded
data["workclass"].tail(10)

48832    3
48833    3
48834    3
48835    3
48836    3
48837    3
48838    3
48839    3
48840    3
48841    4
Name: workclass, dtype: int64

In [72]:
education_cat = data["education"]
education_cat_encoded = encoder.fit_transform(education_cat)

data["education"] = education_cat_encoded
data["education"].tail(10)

48832     0
48833     8
48834    12
48835    12
48836    15
48837     7
48838    11
48839    11
48840    11
48841    11
Name: education, dtype: int64

In [74]:
mar_stat_cat = data["marital-status"]
mar_stat_cat_encoded = encoder.fit_transform(mar_stat_cat)

data["marital-status"] = mar_stat_cat_encoded
data["marital-status"].tail(10)

48832    2
48833    2
48834    4
48835    2
48836    4
48837    2
48838    2
48839    6
48840    4
48841    2
Name: marital-status, dtype: int64

In [76]:
occupation_cat = data["occupation"]
occupation_cat_encoded = encoder.fit_transform(occupation_cat)

data["occupation"] = occupation_cat_encoded
data["occupation"].tail(10)

48832     5
48833    11
48834    12
48835     3
48836    10
48837    12
48838     6
48839     0
48840     0
48841     3
Name: occupation, dtype: int64

In [79]:
relationship_cat = data["relationship"]
relationship_cat_encoded = encoder.fit_transform(relationship_cat)

data["relationship"] = relationship_cat_encoded
data["relationship"].tail(10)

48832    0
48833    0
48834    1
48835    0
48836    1
48837    5
48838    0
48839    4
48840    3
48841    5
Name: relationship, dtype: int64

In [81]:
race_cat = data["race"]
race_cat_encoded = encoder.fit_transform(race_cat)

data["race"] = race_cat_encoded
data["race"].tail(10)

48832    0
48833    4
48834    1
48835    4
48836    4
48837    4
48838    4
48839    4
48840    4
48841    4
Name: race, dtype: int64

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null int64
fnlwgt             48842 non-null int64
education          48842 non-null int64
educational-num    48842 non-null int64
marital-status     48842 non-null int64
occupation         48842 non-null int64
relationship       48842 non-null int64
race               48842 non-null int64
gender             48842 non-null int64
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null int64
income             48842 non-null int64
dtypes: int64(15)
memory usage: 5.6 MB

In [83]:
data.describe()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,48842.000000,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,3.329327,1.896641e+05,10.288420,10.078089,2.618750,6.440379,1.443287,3.668052,0.668482,1079.067626,87.502314,40.422382,36.453442,0.239282
std,13.710510,1.433938,1.056040e+05,3.874492,2.570973,1.507703,4.329470,1.602151,0.845986,0.470764,7452.019058,403.004552,12.391444,6.038723,0.426649
min,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,28.000000,3.000000,1.175505e+05,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,38.000000,0.000000
50%,37.000000,3.000000,1.781445e+05,11.000000,10.000000,2.000000,7.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,38.000000,0.000000
75%,48.000000,3.000000,2.376420e+05,12.000000,12.000000,4.000000,10.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,38.000000,0.000000
max,90.000000,8.000000,1.490400e+06,15.000000,16.000000,6.000000,14.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,41.000000,1.000000

In [84]:
corr_matrix = data.corr()
corr_matrix

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
age,1.000000,0.053008,-0.076628,-0.015058,0.030940,-0.263978,0.006784,-0.263383,0.028421,0.088120,0.077229,0.056944,0.071558,-0.002666,0.230369
workclass,0.053008,1.000000,-0.024252,-0.009439,-0.045869,0.037592,0.281215,0.007591,0.029526,0.010145,0.012057,-0.004650,-0.078044,-0.001822,-0.054680
fnlwgt,-0.076628,-0.024252,1.000000,-0.022570,-0.038761,0.029851,-0.003519,0.009092,-0.027062,0.027739,-0.003706,-0.004366,-0.013519,-0.058392,-0.006339
education,-0.015058,-0.009439,-0.022570,1.000000,0.359668,-0.037417,-0.038054,-0.010758,0.013250,-0.027041,0.028928,0.017638,0.057659,0.075101,0.080091
educational-num,0.030940,-0.045869,-0.038761,0.359668,1.000000,-0.069992,0.045126,-0.090534,0.029239,0.009328,0.125146,0.080972,0.143689,0.090643,0.332613
marital-status,-0.263978,0.037592,0.029851,-0.037417,-0.069992,1.000000,0.050256,0.187800,-0.070104,-0.127479,-0.043969,-0.033872,-0.185567,-0.017621,-0.199072
occupation,0.006784,0.281215,-0.003519,-0.038054,0.045126,0.050256,1.000000,-0.010773,-0.009934,0.021866,0.008157,0.006845,-0.060462,-0.000417,0.007275
relationship,-0.263383,0.007591,0.009092,-0.010758,-0.090534,0.187800,-0.010773,1.000000,-0.117041,-0.579797,-0.056510,-0.057201,-0.250400,-0.007018,-0.253214
race,0.028421,0.029526,-0.027062,0.013250,0.029239,-0.070104,-0.009934,-0.117041,1.000000,0.086734,0.011581,0.018595,0.039694,0.114995,0.070934
gender,0.088120,0.010145,0.027739,-0.027041,0.009328,-0.127479,0.021866,-0.579797,0.086734,1.000000,0.047094,0.045480,0.228560,-0.002181,0.214628
capital-gain,0.077229,0.012057,-0.003706,0.028928,0.125146,-0.043969,0.008157,-0.056510,0.011581,0.047094,1.000000,-0.031441,0.082157,0.008152,0.223013
capital-loss,0.056944,-0.004650,-0.004366,0.017638,0.080972,-0.033872,0.006845,-0.057201,0.018595,0.045480,-0.031441,1.000000,0.054467,0.006551,0.147554
hours-per-week,0.071558,-0.078044,-0.013519,0.057659,0.143689,-0.185567,-0.060462,-0.250400,0.039694,0.228560,0.082157,0.054467,1.000000,0.006573,0.227687
native-country,-0.002666,-0.001822,-0.058392,0.075101,0.090643,-0.017621,-0.000417,-0.007018,0.114995,-0.002181,0.008152,0.006551,0.006573,1.000000,0.020381
income,0.230369,-0.054680,-0.006339,0.080091,0.332613,-0.199072,0.007275,-0.253214,0.070934,0.214628,0.223013,0.147554,0.227687,0.020381,1.000000

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
selectedColumns = data[ [ 'age', 'gender', 'occupation', 'educational-num', 'income' ] ]

X = pd.get_dummies( selectedColumns, columns = [ 'occupation' ] )

# столбец income является целевой переменной, удаляем его из X
del X['income']
X.head()

,age,gender,educational-num,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,occupation_Unknown
0,25,1,7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,38,1,9,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,28,1,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,44,1,10,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,18,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [16]:
# целевая переменная (столбец income) является категориальной
# переведем значения столбца в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit( data['income'] )
le.classes_

In [19]:
# записываем в переменную y преобразованный столбец income
y = pd.Series( data = le.transform( data['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
model.score(X_train, y_train)

0.8032636596993032

In [25]:
# обучаем модель
predictions = model.predict_proba( X )

In [26]:
predictions[:10]

array([[0.94465014, 0.05534986],
       [0.90880811, 0.09119189],
       [0.66820004, 0.33179996],
       [0.77295457, 0.22704543],
       [0.98661445, 0.01338555],
       [0.97401978, 0.02598022],
       [0.9446896 , 0.0553104 ],
       [0.14803433, 0.85196567],
       [0.98558817, 0.01441183],
       [0.88609844, 0.11390156]])

In [28]:
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
y_predict = model.predict(X)
plt.plot(X, y, 'o')
plt.plot(X, y_predict, 'k-')
plt.show()

NameError: name 'Y' is not defined